* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-image: url("assets/confetti-doodles-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    padding: 0 0.5rem;
}


.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto {
    width: 105px;
    
}

.foto img {
    width: 100%;
    border: 3px solid #D9F0FE;
    border-radius: 50%;
}

.infos h3, .infos p {
    color: #ffffff;
}

.links {
    background-color: #D9F0FE78;
    min-width: 300px;
    min-height: 300px;
    padding: 1.2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

.links a {
    min-width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #8532D9;
    margin: 10px 0px 15px 0px;
    text-align: center;
    padding-top: 12px;
    border: 2px solid #8532D9;
}

.links a:hover {
    background-image: linear-gradient(#8532D9, #5C1C9B);
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1.2rem;
    color: #ffffff;
    text-align: center;
}

.heart {
    color: red;
}